h1 {
  font-family: "Cherry Cream Soda", system-ui;
  font-size: 48px;
  text-align: center;
  margin: 0;
}

h2 {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 32px;
  font-style: normal;
  text-align: center;
  margin-top: 18px;
}

#project-menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

select {
  border: solid #45a5be 3px;
  border-radius: 5px;
}

#project-select {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.content-container {
  margin-bottom: 20px;
  padding-bottom: 80px;
}

.iframe-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}

iframe {
  border: 0px;
  background: padding-box padding-box rgba(0, 0, 0, 0.1);
  margin-top: 32px;
  padding: 0px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 40px;
  width: 75vw;
  max-width: 1032px;
  height: auto;
  aspect-ratio: 560 / 432;
}

h3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 72px;
}
