html {
  overflow: auto;
}

.menu-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: baseline;
  margin-top: 5px;
  margin-left: 10px;
  background-color: white;
  z-index: 10;
}

.chevron {
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  vertical-align: middle;
  margin-left: 3px;
  margin-right: 20px;
  padding-bottom: 5px;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 3px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.chevron:hover {
  background-color: #45a5be;
  color: white;
  cursor: pointer;
}

.contact {
  margin: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-family: "Cherry Cream Soda", system-ui;
  font-weight: 400;
  font-size: 72px;
  font-style: normal;
  font-kerning: none;
  text-align: center;
  margin: 0;
}

h2 {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 32px;
  font-style: normal;
  text-align: center;
  margin-top: 18px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 80px;
}

.image-container {
  display: flex;
  flex-direction: column;
}

.storyboard-image {
  background-image: url(storyboard-vertical.png);
  background-size: contain;
  height: 350px;
  width: 250px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 14px;
  margin-right: 14px;
  border: 5px solid black;
  border-radius: 10px;
}

.image-container:hover .storyboard-image {
  border: 5px solid #45a5be;
  background-size: 271px 380px;
  background-position-x: center;
  background-position-y: center;
  cursor: pointer;
  animation-name: backgroundImageAnimation;
  animation-duration: 0.3s;
}

.image-container:hover .caption {
  cursor: pointer;
  font-style: italic;
}

.comics-image {
  background-image: url(comics-2-vertical.JPG);
  background-size: contain;
  height: 350px;
  width: 250px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 14px;
  margin-right: 14px;
  border: 5px solid black;
  border-radius: 10px;
}

.image-container:hover .comics-image {
  border: 5px solid #45a5be;
  background-size: 271px 380px;
  background-position-x: center;
  background-position-y: center;
  cursor: pointer;
  animation-name: backgroundImageAnimation;
  animation-duration: 0.3s;
}

.contact-image {
  background-image: url(contact-vertical.png);
  background-size: contain;
  height: 350px;
  width: 250px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 14px;
  margin-right: 14px;
  border: 5px solid black;
  border-radius: 10px;
}

.image-container:hover .contact-image {
  border: 5px solid #45a5be;
  background-size: 271px 380px;
  background-position-x: center;
  background-position-y: center;
  cursor: pointer;
  animation-name: backgroundImageAnimation;
  animation-duration: 0.3s;
}

@keyframes backgroundImageAnimation {
  0% {
    background-size: 250px 350px;
  }
  100% {
    background-size: 271px 380px;
  }
}

.caption {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  text-align: center;
}

.social-media-container {
  height: 50px;
  margin-top: 150px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.social-media-container div {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  align-self: center;
  margin: 10px;
}

.social-media-container img {
  height: 50px;
  width: 50px;
  margin: 5px;
}
